<a href="https://colab.research.google.com/github/narendrasingh125/Datasets-for-projects/blob/main/Adult_Salary_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pySpark

Collecting pySpark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pySpark) (0.10.9.7)
Building wheels for collected packages: pySpark
  Building wheel for pySpark (setup.py) ... done
  Created wheel for pySpark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=6d4e0f9703352ee94021a197dfb85b39a464afb51b29aa331ebe1d110b69ca7c
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pySpark
Installing collected packages: pySpark
Successfully installed pySpark-3.5.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# New Section

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.master('local[*]').appName('AdultDataAnalysis').getOrCreate()
spark

In [ ]:
df=spark.read.csv('/content/adult.csv',header=True,inferSchema=True)
df1=spark.read.csv('/content/data.csv',header=True,inferSchema=True)

In [ ]:
# df.show()
df1.show()

+---+------------+------+---------+-------------+--------------+--------------+------------+----+---+------------+-----+
|AGE|CAPITAL-LOSS|FNLWGT|EDUCATION|EDUCATION-NUM|MARITAL-STATUS|HOURS-PER-WEEK|RELATIONSHIP|RACE|SEX|CAPITAL-GAIN|CLASS|
+---+------------+------+---------+-------------+--------------+--------------+------------+----+---+------------+-----+
| 39|           0| 77516|        9|           13|             3|            40|           4|   1|  2|        2174|    1|
| 50|           0| 83311|        9|           13|             1|            13|           3|   1|  2|           0|    1|
| 38|           0|215646|        8|            9|             2|            40|           4|   1|  2|           0|    1|
| 53|           0|234721|        6|            7|             1|            40|           3|   4|  2|           0|    1|
| 28|           0|338409|        9|           13|             1|            40|           1|   4|  1|           0|    1|
| 37|           0|284582|       11|           14|             1|            40|           1|   1|  1|           0|    1|
| 49|           0|160187|        4|            5|             6|            16|           4|   4|  1|           0|    1|
| 52|           0|209642|        8|            9|             1|            45|           3|   1|  2|           0|    0|
| 31|           0| 45781|       11|           14|             3|            50|           4|   1|  1|       14084|    0|
| 42|           0|159449|        9|           13|             1|            40|           3|   1|  2|        5178|    0|
| 37|           0|280464|       10|           10|             1|            80|           3|   4|  2|           0|    0|
| 30|           0|141297|        9|           13|             1|            40|           3|   2|  2|           0|    0|
| 23|           0|122272|        9|           13|             3|            30|           2|   1|  1|           0|    1|
| 32|           0|205019|       13|           12|             3|            50|           4|   4|  2|           0|    1|
| 40|           0|121772|       14|           11|             1|            40|           3|   2|  2|           0|    0|
| 34|           0|245487|        3|            4|             1|            45|           3|   3|  2|           0|    1|
| 25|           0|176756|        8|            9|             3|            35|           2|   1|  2|           0|    1|
| 32|           0|186824|        8|            9|             3|            40|           6|   1|  2|           0|    1|
| 38|           0| 28887|        6|            7|             1|            50|           3|   1|  2|           0|    1|
| 43|           0|292175|       11|           14|             2|            45|           6|   1|  1|           0|    0|
+---+------------+------+---------+-------------+--------------+--------------+------------+----+---+------------+-----+
only showing top 20 rows

In [ ]:
df.printSchema()
df1.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education.num: integer (nullable = true)
 |-- marital.status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital.gain: integer (nullable = true)
 |-- capital.loss: integer (nullable = true)
 |-- hours.per.week: integer (nullable = true)
 |-- native.country: string (nullable = true)
 |-- income: string (nullable = true)

root
 |-- AGE: integer (nullable = true)
 |-- CAPITAL-LOSS: integer (nullable = true)
 |-- FNLWGT: integer (nullable = true)
 |-- EDUCATION: integer (nullable = true)
 |-- EDUCATION-NUM: integer (nullable = true)
 |-- MARITAL-STATUS: integer (nullable = true)
 |-- HOURS-PER-WEEK: integer (nullable = true)
 |-- RELATIONSHIP: integer (nullable = true)
 |-- RACE: integer (nullable = true)
 |-- SEX: integer (nullable = true)
 |-- CAPITAL-GAIN: integer (nullable = true)
 |-- CLASS: integer (nullable = true)

In [ ]:
# df.describe('income').show()
df1.describe('income').show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `income` cannot be resolved. Did you mean one of the following? [`AGE`, `RACE`, `SEX`, `CLASS`, `FNLWGT`].;
'Project ['income]
+- Relation [AGE#540,CAPITAL-LOSS#541,FNLWGT#542,EDUCATION#543,EDUCATION-NUM#544,MARITAL-STATUS#545,HOURS-PER-WEEK#546,RELATIONSHIP#547,RACE#548,SEX#549,CAPITAL-GAIN#550,CLASS#551] csv

In [ ]:
df.groupBy('education').count().show()

+------------+-----+
|   education|count|
+------------+-----+
|        10th|  933|
|     Masters| 1723|
|     5th-6th|  333|
|  Assoc-acdm| 1067|
|   Assoc-voc| 1382|
|     7th-8th|  646|
|         9th|  514|
|     HS-grad|10501|
|   Bachelors| 5355|
|        11th| 1175|
|     1st-4th|  168|
|   Preschool|   51|
|        12th|  433|
|   Doctorate|  413|
|Some-college| 7291|
| Prof-school|  576|
+------------+-----+

In [ ]:
# df.groupBy('workclass').count().show()
from pyspark.sql.functions import col, when, mode
# mode(df['workclass']).first()[0]
df.select(mode('workclass').alias('mode')).first()['mode']

'Private'

In [ ]:
# prompt: replacing unknown '?' input with mode

from pyspark.sql.functions import col, when, mode

df = df.na.replace('?', mode(df['workclass']).first()[0])

TypeError: 'Column' object is not callable

In [ ]:
df.describe().show()

AnalysisException: [INVALID_EXTRACT_BASE_FIELD_TYPE] Can't extract a value from "education". Need a complex type [STRUCT, ARRAY, MAP] but got "STRING".

In [ ]:
df.columns

In [ ]:
df.select(['age','education']).show()

In [ ]:
df.describe('age').show()

In [ ]:
df.describe(df.columns[15]).show()

In [ ]:
describe(1)

In [ ]:
df.printSchema()